<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Multiuser Base
        {% endblock %}
    </title>
</head>
<body>
    <div id = "content", name = "content">
        {% block content %}
            <form method="post">
                {% csrf_token %}
                <h2>User Verification</h2>
                <button type="submit" name="login" value="pressed">Login</button>
                <button type="submit" name="register" value="pressed">Register</button>
            </form>
        {% endblock %}
    </div>
</body>
</html>